{% extends 'admin/base_template.html' %}
{% load static %}
{% load get_item %}
{% load range %}
{% load str %}

{% block css %} 
<link rel="stylesheet" href="{% static 'assets/css/variants.css' %}">
{% endblock %}


{% block title %} Форма продукта {% endblock %}


{% block page_title %} Форма продукта {% endblock %}

{% block nav_ol %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item ">
        <a href="{% url 'products_list' %}">Продукты</a>
    </li>
    <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
        Добавление
    </li>
</ol>
{% endblock %}

{% block content_width %} class="col-12" {% endblock %}


{% block content %}
<form class="row" id="prod_form" {% if object %} action="{% url 'edit_product' object.id %}" {% else %} action="{% url 'create_product' %}" {% endif %} method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="variant_count" {% if not object %} value="1" {% else %} value="{{ object.variants.count }}" {% endif %}>
    <input type="hidden" name="dropzone-key" value="{{ dropzone_key }}">
    <input type="hidden" name="id" value="{{ object.id }}">
    <input type="hidden" name="url" value="{{ request.get_full_path }}">
    <div class="col-12 col-xl-8">
        <div class="card mt-3">
            <div class="crd-header p-4 pb-0">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for lang in langs %}
                        {% if lang == langs.first %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link px-3 py-2 active" id="tab_{{ lang.id }}" data-bs-toggle="tab"
                                    data-bs-target="#{{ lang.code }}" type="button" role="tab" aria-controls="{{ lang.code }}"
                                    aria-selected="true">{{ lang.name }}</button>
                            </li>
                        {% else %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link px-3 py-2" id="tab_{{ lang.id }}" data-bs-toggle="tab"
                                    data-bs-target="#{{ lang.code }}" type="button" role="tab" aria-controls="{{ lang.code }}"
                                    aria-selected="false">{{ lang.name }}</button>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="card-body p-5 pt-4">
                <div class="tab-content" id="myTabContent">
                    {% for lang in langs %}
                        <div {% if lang == langs.first %} class="tab-pane fade show active" {% else %} class="tab-pane fade" {% endif %} id="{{ lang.code }}" role="tabpanel"
                            aria-labelledby="{{ lang.code }}">
                        
                            <!-- Project name -->
                            <div class="form-group">
                                <!-- Label  -->
                                <label {% if lang.default %} class="form-label required" {% else %} class="form-label"
                                    {% endif %}>
                                    Название
                                </label>
                                <br>
                                <!-- Input -->
                                <input type="text" {% if lang.default %} required {% endif %} name="name#{{ lang.code }}" class="form-control" 
                                {% if object and object.name|get_item:lang.code %} value="{{ object.name|get_item:lang.code }}"
                                {% endif %}>
                                {% if lang.default %}
                                <div class="invalid-feedback" style="display: block;"></div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <!-- Label  -->
                                <label class="form-label">
                                    Продзаголовок
                                </label>
                                <br>
                                <!-- Input -->
                                <input type="text" name="subtitle#{{ lang.code }}" 
                                {% if object and object.subtitle|get_item:lang.code %}
                                    value="{{ object.subtitle|get_item:lang.code }}"
                                {% endif %} class="form-control">
                            </div>
                            <div class="form-group">
                                <!-- Label  -->
                                <label class="form-label">
                                    Тип
                                </label>
                                <br>
                                <!-- Input -->
                                <input type="text" name="type#{{ lang.code }}" {% if object and object.type %}
                                value="{{ object.type|get_item:lang.code }}" {% endif %}
                                class="form-control">
                            </div>
                            <div class="col-12">
                                <h2 class="">SEO теги</h2>
                                <hr>
                                <div class="form-group">
                                    <label for="meta_desc" class="form-label">Мета описание</label>
                                    <input type="text" class="form-control " name="meta_deck#{{ lang.code }}" 
                                    {% if object.meta and object.meta.meta_deck|get_item:lang.code %} value="{{ object.meta.meta_deck|get_item:lang.code }}" {% endif %} id="meta_desc" placeholder="Мета описание">
                                </div>
                                <div class="form-group">
                                    <label for="meta_keywords" class="form-label">Мета ключи</label>
                                    <input type="text" class="form-control " name="meta_keys#{{ lang.code }}" 
                                    {% if object.meta and object.meta.meta_keys|get_item:lang.code %} 
                                        value="{{ object.meta.meta_keys|get_item:lang.code }}" 
                                    {% endif %} id="meta_keywords" placeholder="Мета ключи">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="card mt-3">
            <div class="card-body p-4">
                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label">
                        Категории
                    </label>
                    <br>
                    <!-- Input -->
                    <select required {% if object %} class="form-control ctg_select" {% else %} class="form-control" {% endif %} name="ctg" id="product_ctg_select" >
                        <option value="">-----</option>
                        {% for ctg in categories %}
                            {% if object and ctg == object.category.parent %}
                                <option value="{{ ctg.id }}" selected>{{ ctg.name|get_item:lang.code }}</option>
                            {% else %}
                                <option value="{{ ctg.id }}">{{ ctg.name|get_item:lang.code }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <div class="invalid-feedback" style="display: block;"></div>
                </div>
                
                <span id="post_ctg_wrap">
                    {% if object %}
                        <div class="form-group">
                            <!-- Label  -->
                            <label class="form-label">
                                Пост категория
                            </label>
                            <br>
                            <!-- Input -->
                            <select name="category" class="form-control ctg_select product_ctg_select" id="post_ctg" class="form-control"
                                name="category" data-choices>
                                <option value="">-----</option>
                                {% for ctg in object.category.parent.children.all %}
                                    <option value="{{ ctg.id }}" {% if object.category == ctg %} selected {% endif %}>{{ ctg.name|get_item:lang.code }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                </span>

                <div class="row">
                    <div class="col-6">
                        <div class="form-check form-switch">
                            <input type="checkbox" name="active" class="form-check-input" id="id_active" {% if object.active or object is None %} checked {% endif %}>
                            <label class="form-check-label" for="flexSwitchCheckDefault">Active</label>
                        </div>
                    </div>
                </div>
                <br>

                <div class="btn-box text-end">
                    <a href="#" class="btn w-30 btn-secondary">
                        Отменить
                    </a>
                    <input type="submit" href="#" class="btn w-40 btn-primary" value="Сохранить">
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Form -->



<!-- JAVASCRIPT -->
<script>
    for (let txt of document.querySelectorAll('.editor')) {
        CKEDITOR.replace(txt)
    }
</script>
<script src="{% static 'assets/js/product_form.js' %}"></script>

<!-- Map JS -->

<!-- Vendor JS -->
{% endblock %}